@using FurnitureShop.Components.Pages.Customer.Views
@page "/customer"
@rendermode InteractiveServer

<PageTitle>Customer page</PageTitle>

<div class="top-row">
    <button class="btn btn-success" @onclick="@(_ => view = CustomerView.Shop)">Catalog</button>
    <button class="btn btn-success" @onclick="@(_ => view = CustomerView.Cart)">Cart</button>
</div>

@switch (view)
{
    case CustomerView.Shop:
        <Catalog />
        break;
    case CustomerView.Cart:
        <Cart />
        break;
}

@code {
    private CustomerView view = CustomerView.Shop;
    
}
