@page "/customer"
@rendermode InteractiveServer
@inject IDbContextFactory<ShopDbContext> DbContextFactory

<PageTitle>Customer page</PageTitle>

<h3>CustomerHome</h3>

<button class="btn btn-success" @onclick="CreateOrder">Create (not) random order</button>

@code {
    private ShopDbContext _shopDbContext;

    public void CreateOrder()
    {
        _shopDbContext ??= DbContextFactory.CreateDbContext();

        var order = new Order()
        {
            CustomerName = "John" + Random.Shared.Next(50),
            CustomerEmail = "email@mail.com",
            OrderDate = DateTime.Now,
            OrderedFurnitureNames = ["Bed", "Sofa", "Chair"],
            PriceWhenOrdered = Random.Shared.Next(1000)
        };

        if (_shopDbContext == null) return;

        _shopDbContext.Orders.Add(order);
        _shopDbContext.SaveChanges();
    }

}
