@using FurnitureShop.Components.Pages.Manager.Views
@page "/manager"
@rendermode InteractiveServer

<PageTitle>Manager Page</PageTitle>

<div class="top-row">
    <button class="btn btn-success" @onclick="@(_ => view = ManagerView.CustomerOrders)">Customer orders</button>
    <button class="btn btn-success" @onclick="@(_ => view = ManagerView.Storage)">Storage</button>
    <button class="btn btn-success" @onclick="@(_ => view = ManagerView.Suppliers)">Suppliers</button>
</div>

@switch (view)
{
    case ManagerView.CustomerOrders:
        <CustomerOrders />
        break;
    case ManagerView.Storage:
        <Storage />
        break;
    case ManagerView.Suppliers:
        <Suppliers />
        break;
}

@code {
    private ManagerView view = ManagerView.CustomerOrders;


}
